.container{
	max-width: 1330px;
	margin: 0 auto;
}
.row{ 
	width: 100%;
	position: relative;
	padding: 15px;
	display: flex;
}
@media screen and (min-width: 768px) {
  @for $i from 1 through 10 { 
    .col-#{$i} {
      width: 100% / 10 * $i;   
    }
  } 
}   

#header{
   background: black;
   color: white;
}





